/* COMMON SHARED STYLE */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    width: 1170px;
}

main{
    width: 1170px;
    margin: 0 auto;
}

/* NAV PART STYLE */

.website-name{
    font-family: Mulish;
    font-size: 36px;
    font-weight: 800;
    color: #FF5400;
    margin-left: 16px;
}

.logo-part{
    display: flex;
    align-items: center;
}

nav ul{
    list-style: none;
}

nav ul li{
    margin-right: -40px;
}

nav ul li a{
    font-family: Mulish;
    font-size: 18px;
    font-weight: 400;
    color: #424247;
    list-style: none;
    text-decoration: none;
    margin-right: 44px;
}

nav ul li a:hover{
    font-weight: 700;
    color: #FF5400;
    transition: .4s;
}

.hamburger{
    background-color: transparent;
    border: 0;
    color: #5A5A5D;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.nav-container{
    margin: 0 auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/* BANNER PART STYLE */

.banner{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0)), url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    border-radius: 16px;
    width: 1170px;
    height: 500px;
    margin-top: 48px;
}

.banner-title{
    font-family: Mulish;
    font-size: 64px;
    font-weight: 800;
    color: #FFF;
    text-align: center;
    padding-top: 106px ;
}

.banner-description{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: #FFF;
    line-height: 26px;
    width: 676px;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 24px;
}

.search{
    text-align: center;
}

.trip-button{
    padding: 14px 15px;
    background: #FFF;
    border-radius: 8px;
    border: none;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.50);
    width: 174px;
    height: 52px;
    text-align: justify;
}


.primary-button{
    padding: 14px 15px;
    background: #FF5400;
    border-radius: 8px;
    border: none;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    width: 174px;
    height: 52px;
}

.primary-button i{
    margin-right: 8px;
}

.primary-button:hover{
    background: #E74335;
    transition: .4s;
}

.all-buttons{
    display: flex;
    gap: 24px;
    justify-content: center;
    padding: 16px 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    margin: 0 auto;
    margin-top: 48px;
    width: 800px;
}

.btn-two i{
    padding-left: 74px;
}

.btn-three i{
    margin-left: 40px;
}


/* TOUR PART STYLE */

.popular-tours{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.tour-title{
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}

.tour-details{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
    width: 577px;
    margin-top: 24px;
}

.tour-point{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
    width: 577px;
    margin-left: 15px;
    margin-top: 24px;
}

.tour-point > li{
    margin-top: 16px;
}

.tour-description{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
    width: 530px;
    margin-top: 24px;
    line-height: 26px;
}

.popular-tour-img{
    width: 540px;
    height: 550px;
}

.read-button{
    padding: 14px 15px;
    background: #FF5400;
    border-radius: 8px;
    border: none;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    width: 174px;
    height: 52px;
    margin-top: 50px;
}

.read-button:hover{
    background: #E74335;
    transition: .4s;
}


/* DESTINATION PART STYLE */

.destination-container{
    margin-top: 100px;
}

.section-title{
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    color: #131318;
}

.section-description{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
    width: 643px;
    margin: 0 auto;
    margin-top: 24px;
}

.section-text{
    text-align: center;
}

.first-row{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.maldives-img{
    position: relative;
}

.maldives-text{
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    color: #FFF;
    position: absolute;
    z-index: 1;
    margin-left: 210px;
    margin-top: 135px;
}

.second-row{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.srilanka-text{
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    color: #FFF;
    position: absolute;
    z-index: 1;
    margin-left: 130px;
    margin-top: 135px;
}

.america-text{
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    color: #FFF;
    position: absolute;
    z-index: 1;
    margin-left: 130px;
    margin-top: 135px;
}

.kashmir-text{
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    color: #FFF;
    position: absolute;
    z-index: 1;
    margin-left: 85px;
    margin-top: 135px;
}

.third-row{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.bangladesh-text{
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    color: #FFF;
    position: absolute;
    z-index: 1;
    margin-left: 150px;
    margin-top: 135px;
}

.bandarban-text{
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
    color: #FFF;
    position: absolute;
    z-index: 1;
    margin-left: 250px;
    margin-top: 135px;
}

.maldives:hover{
    transform: scale(1.03);
    transition: .5s;
}


/* WHY CHOOSE US PART STYLE */

.choose-us-container{
    margin-top: 100px;
}

.box-title{
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    color: #131318;
    margin-top: 32px;
}

.box-description{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
    line-height: 26px;
    width: 486px;
    margin-top: 16px;
}

.hotel-box{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 32px;
}

.service-box{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    padding: 32px 32px;
}

.price-box{
    width: 573px;
    height: 284px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px 32px;
}

.hotel-service{
    display: flex;
    justify-content: space-between;
    margin-top: 48px;
}

.best-price{
    margin-left: 300px;
    margin-top: 24px;
}

.hotel-box:hover{
    transform: scale(1.03);
    transition: .5s;
}
.service-box:hover{
    transform: scale(1.03);
    transition: .5s;
}
.price-box:hover{
    transform: scale(1.03);
    transition: .5s;
}


/* PERFECT PALE PART STYLE */

.perfect-place-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.place-title{
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    color: #131318;
    width: 448px;
}

.place-details{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.70);
    line-height: 26px;
    width: 532px;
    margin-top: 15px;
}

.place-point{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    color: #131318;
    line-height: 26px;
    width: 518px;
    margin-left: 15px;
    margin-top: 15px;
}

.tour-point > li{
    margin-top: 16px;
}

.video{
    border-radius: 16px;
    height: auto;
}

.video-side{
    margin-top: 10px;
}

.video-text{
    font-family: Mulish;
    font-size: 24px;
    font-weight: 700;
    color: #FFF;
    line-height: 36px;
    text-align: center;
    width: 276px;
    margin-top: -200px;
    margin-left: 150px;
}

.see-button{
    padding: 14px 15px;
    background: #FF5400;
    border-radius: 8px;
    border: none;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    width: 174px;
    height: 52px;
    margin-top: 20px;
}

.see-button:hover{
    background: #E74335;
    transition: .4s;
}


/* NEWSLETTER PART STYLE */

.newsletter-container{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.input-title{
    font-family: Mulish;
    font-size: 24px;
    font-weight: 800;
    color: #131318;
}

.input-description{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
    line-height: 26px;
    width: 350px;
    margin-top: 16px;
}

.new-hr{
    border-top: 1px solid rgba(19, 19, 24, 0.10);
    width: 393px;
    margin-top: 24px;
}

.input-box{
    display: inline-block;
    margin-top: 24px;
    flex-direction: column;
}

.input-field{
    width: 474px;
    height: 422px;
    padding: 40px 40px;
    border: 1px solid #FF5400;
    border-radius: 16px;
}

.name{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.30);
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
    height: 52px;
    border: none;
}

.email{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: rgba(19, 19, 24, 0.30);
    text-align: left;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    width: 393px;
    height: 52px;
    border: none;
    margin-top: 16px;
}

::placeholder {
    padding: 16px 20px;
  }

.subscribe-button{
    padding: 14px 15px;
    background: #FF5400;
    border-radius: 8px;
    border: none;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 700;
    color: #FFF;
    width: 393px;
    height: 52px;
    margin-top: 24px;
  }

.subscribe-button:hover{
    background: #E74335;
    transition: .4s;
}

.website{
    font-family: Mulish;
    font-size: 24px;
    font-weight: 400;
    color: #FFF;
}

.discount-text{
    font-family: Mulish;
    font-size: 32px;
    font-weight: 800;
    color: #FFF;
}

.discount-card{
    border-radius: 16px;
    background: #FF5400;
    width: 324px;
    height: 120px;
    text-align: center;
    padding: 25px 20px;
    transform: rotate(-19.628deg);
    margin-left: 340px;
    margin-top: -175px;
}

.discount-card:hover{
    transform: scale(1.04);
    transition: .5s;
}


/* NEWSLETTER PART STYLE */


.footer-container{
    background: rgba(19, 19, 24, 0.05);
    height: 502px;
    margin-top: 100px;
    text-align: center;
}

.footer-title{
    display: flex;
    justify-content: center;
    padding-top: 110px;
}

.footer-description{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    color: #5A5A5D;
    line-height: 26px;
    width: 769px;
    margin: 0 auto;
    margin-top: 15px;
}

.social-icons > i{
    margin-top: 32px;
    margin-right: 32px;
}

.second-hr{
    border-top: 1px solid rgba(19, 19, 24, 0.10);
    width: 872px;
    margin: 0 auto;
    margin-top: 50px;
}

.copyright-text{
    font-family: Mulish;
    font-size: 16px;
    font-weight: 300;
    color: #131318;
    margin-top: 50px;
}





/* ========================= */
/* RESPONSIVE MEDIA QUERIES */
/* ======================== */

@media screen and (max-width: 600px) {
    header{
        flex-direction: column;
        padding: 20px;
    }

    .logo-part{
        margin-top: -50px;
        margin-left: -150px;
    }

    nav{
        width: 48%;
    }
    .hamburger{
        display: block;
        font-size: 28px;
        margin-right: -150px;
        margin-top: -40px;
    }

    nav ul {
        display: none;
    }
    .banner{
        width: 580px;
        margin-top: -10px;
        margin-left: 10px;
        background-position: center ;
    }

    .banner-text{
        flex-direction: column;
    }

    .banner-description{
        width: 500px;
        font-size: 25px;
    }

    .all-buttons, .primary-button{
        flex-direction: column;
        align-items: center;
        width: 500px;
    }
    .all-buttons{
        background: #FF5400;
    }

    .primary-button{
        border: 1px solid #FFF;
        width: 450px;
    }

    .trip-button{
        width: 450px;
    }

    .popular-tours{
        margin-top: 250px;
        flex-direction: column;
        padding: 20px;
    }

    .popular-tour-img{
        width: 49%;
    }

    .tour-point{
        width: 550px;
    }

    .img-side{
        margin-top: 30px;
    }

    .section-text{
        margin-left: -550px;
    }

    .section-description{
        width: 550px;
    }

    .first-row, .second-row, .third-row{
        flex-direction: column;
    }

    .maldives-img{
        width: 50%;
        height: 300px;
        margin-left: 0px;
    }

    .srilanka-img{
        width: 49%;
        height: 300px;
        margin-left: 13px;
    }

    .srilanka-text{
        font-family: Mulish;
        font-size: 28px;
        font-weight: 800;
        color: #FFF;
        position: absolute;
        z-index: 1;
        margin-left: 240px;
        margin-top: 135px;
    }

    .indonesia-img{
        margin-top: 20px;
    }

    .america-img{
        width: 49%;
        height: 300px;
        margin-left: 13px;
        margin-top: 15px;
    }

    .america-text{
        margin-left: 200px;
        margin-top: 150px;
    }

    .kashmir-img{
        width: 49%;
        height: 300px;
        margin-left: 13px;
        margin-top: 15px;
    }

    .kashmir-text{
        margin-left: 230px;
        margin-top: 150px;
    }

    .bangladesh-img{
        width: 49%;
        height: 300px;
        margin-left: 13px;
        margin-top: 15px;
    }

    .bangladesh-text{
        margin-left: 220px;
        margin-top: 150px;
    }

    .bandarban-img{
        width: 49%;
        height: 300px;
        margin-left: 13px;
        margin-top: 15px;
    }

    .bandarban-text{
        margin-left: 220px;
        margin-top: 150px;
    }
    
    .first-row{
        padding: 15px;
    }

    .second-row{
        margin-top: 0px;
    }

    .third-row{
        margin-top: 0px;
    }

    .choose-us-container, .destination-container{
        margin-top: 40px;
    }

    .hotel-service{
        flex-direction: column;
        padding: 15px;
    }

    .service-box{
        margin-top: 20px;
    }

    .price-box{
        margin-top: -20px;
    }

    .best-price{
        margin-left: 0;
        margin-top: 10px;
        padding: 15px;
    }

    .perfect-place-container{
        flex-direction: column;
        margin-top: 0;
        padding: 15px;
    }

    .video{
        width: 570px;
    }

    .newsletter-container{
        flex-direction: column;
    }

    .input-field{
        margin-top: 40px;
        margin-left: 60px;
    }

    .discount-card{
        margin-left: 240px;
    }

    .img-field{
        margin-top: 20px;
    }

    .mountain-img img {
        width: 550px;
        margin-left: 25px;
    }

    .footer-container{
        height: 370px;
    }

    .footer-description{
        width: 580px;
        font-size: 20px;
    }
}